---
import BaseHead from '../components/BaseHead.astro'
import ProjectFilter from '../components/ProjectFilter.astro'
---
<html lang="en">
  <head>
    <BaseHead title="Caseboards | JCS World" />
  </head>
  <body>
    <main>
      <h1 class="r">Caseboards</h1>
      <ProjectFilter />
    </main>
  </body>
</html>
